<form class="" action="/index" method="post">
  <h1>Cadastro</h1>
  <input type="text" name="usuario" value="User">
  <br>
  <input type="text" name="email" value="Email">
  <br>
  <input type = "password" name="senha" value="password">
  <button type="submit" name="Entrar">Entrar</button>
</form>
